@import "./base.css";

.v-select {
  height: 100%;
}

/* VSelect-CSS Used in Revenue Card */
.small-select .v-input__control {
  height: 30px !important;
}
.small-select .v-field-label--floating {
  display: none !important;
}
.small-select .v-field__append-inner {
  height: 30px !important;
}
.small-select .v-input--density-default {
  --v-input-padding-top: 0;
}
.small-select .v-field__field label {
  margin-top: 0 !important;
}

.small-select .v-select .v-field {
  padding: 0 !important;
}

.small-select .v-select .v-field__input {
  font-size: 12px !important;
  padding: 4px 4px !important;
}
